<section class="advantages-section">
  <div class="container advantages-container">
    <h2 class="advantages-title">Game Advantages</h2>
    <div class="advantages-subcontainer">
      <ul class="advantages-list">
        <li class="advantages-item">Tactical Survival Gameplay</li>
        <li class="advantages-item">Dynamic Arenas</li>
        <li class="advantages-item">Co-Op and Solo Modes</li>
        <li class="advantages-item">Weapon Crafting System</li>
        <li class="advantages-item">Mutant Threats</li>
        <li class="advantages-item">Online Elric Modes</li>
        <li class="advantages-item">Immersive Sound Design</li>
        <li class="advantages-item">Energy Boosters & Drones</li>
        <li class="advantages-item">Offline Training Mode</li>
        <li class="advantages-item">Zero Ads. All Action</li>
      </ul>
      <picture class="advantages-container-image">
        <source
          srcset="
            img/advantages/advantages-desktop@1x.jpg,
            img/advantages/advantages-desktop@2x.jpg
          "
          media="(min-width: 1200px)"
        />
        <img
          src="img/advantages/advantages-mobile@1x.jpg"
          alt="Advantages"
          class="advantages-image"
          width="280"
          height="400"
          loading="lazy"
        />
      </picture>
    </div>
  </div>
</section>
