<section class="contact-section">
  <div class="container">
    <h2 class="contact-title">Contact</h2>
    <address class="contact-address">
      <div class="contact-wrapper">
        <picture>
          <source
            srcset="
              img/contact/email-desktop@1x.png,
              img/contact/email-desktop@2x.png
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              img/contact/email-mobile@1x.png,
              img/contact/email-mobile@2x.png
            "
            media="(max-width: 1199px)"
          />
          <img
            src="img/contact/email-mobile@1x.png"
            alt="Email Contact"
            class="contact-image"
            width="24"
            height="24"
            loading="lazy"
          />
        </picture>
        Email:
        <a class="contact-link" href="mailto:info@alienarena.dev"
          >info@alienarena.dev</a
        >
      </div>
      <div class="contact-wrapper">
        <picture>
          <source
            srcset="
              img/contact/network-desktop@1x.png,
              img/contact/network-desktop@2x.png
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              img/contact/network-mobile@1x.png,
              img/contact/network-mobile@2x.png
            "
            media="(max-width: 1199px)"
          />
          <img
            src="img/contact/network-mobile@1x.png"
            alt="Network Contact"
            class="contact-image"
            width="24"
            height="24"
            loading="lazy"
          />
        </picture>
        Official Website:
        <a class="contact-link" href="https://alienarena.dev" target="_blank"
          >https://alienarena.dev</a
        >
      </div>
      <div class="contact-wrapper">
        <picture>
          <source
            srcset="
              img/contact/facebook-desktop@1x.png,
              img/contact/facebook-desktop@2x.png
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              img/contact/facebook-mobile@1x.png,
              img/contact/facebook-mobile@2x.png
            "
            media="(max-width: 1199px)"
          />
          <img
            src="img/contact/facebook-mobile@1x.png"
            alt="Facebook Contact"
            class="contact-image"
            width="24"
            height="24"
            loading="lazy"
          />
        </picture>
        Facebook:
        <a
          class="contact-link"
          href="https://facebook.com/aliensurvivorarena"
          target="_blank"
        >
          facebook.com/aliensurvivorarena
        </a>
      </div>
      <div class="contact-wrapper">
        <picture>
          <source
            srcset="
              img/contact/instagram-desktop@1x.png,
              img/contact/instagram-desktop@2x.png
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              img/contact/instagram-mobile@1x.png,
              img/contact/instagram-mobile@2x.png
            "
            media="(max-width: 1199px)"
          />
          <img
            src="img/contact/instagram-mobile@1x.png"
            alt="Instagram Contact"
            class="contact-image"
            width="24"
            height="24"
            loading="lazy"
          />
        </picture>
        Instagram:
        <a
          class="contact-link"
          href="https://instagram.com/aliensurvivorgame"
          target="_blank"
          >instagram.com/aliensurvivorgame</a
        >
      </div>
    </address>
  </div>
</section>
