<section class="contact-section" id="contact">
  <div class="container">
    <h2 class="contact-title">Contact</h2>
    <address class="contact-address">
      <div class="contact-wrapper">
        <img
          src="img/contact/email@1x.png"
          srcset="img/contact/email@2x.png"
          alt="Email Contact"
          class="contact-image"
          width="24"
          height="24"
          loading="lazy"
        />
        Email:
        <a class="contact-link" href="mailto:info@alienarena.dev"
          >info@alienarena.dev</a
        >
      </div>
      <div class="contact-wrapper">
        <img
          src="img/contact/network@1x.png"
          srcset="img/contact/network@2x.png"
          alt="Network Contact"
          class="contact-image"
          width="24"
          height="24"
          loading="lazy"
        />
        Official Website:
        <a class="contact-link" href="https://alienarena.dev" target="_blank"
          >https://alienarena.dev</a
        >
      </div>
      <div class="contact-wrapper">
        <img
          src="img/contact/facebook@1x.png"
          srcset="img/contact/facebook@2x.png"
          alt="Facebook Contact"
          class="contact-image"
          width="24"
          height="24"
          loading="lazy"
        />
        Facebook:
        <a
          class="contact-link"
          href="https://facebook.com/aliensurvivorarena"
          target="_blank"
        >
          facebook.com/aliensurvivorarena
        </a>
      </div>
      <div class="contact-wrapper">
        <img
          src="img/contact/instagram@1x.png"
          srcset="img/contact/instagram@2x.png"
          alt="Instagram Contact"
          class="contact-image"
          width="24"
          height="24"
          loading="lazy"
        />
        Instagram:
        <a
          class="contact-link"
          href="https://instagram.com/aliensurvivorgame"
          target="_blank"
          >instagram.com/aliensurvivorgame</a
        >
      </div>
    </address>
  </div>
</section>
