<div class="js-cookies-modal">
  <div class="container cookies-modal-container">
    <h2 class="cookies-modal-header">Cookies Policy</h2>
    <p class="cookies-modal-text">
      We use cookies to improve your experience on our website. By browsing this
      website, you agree to our use of cookies.
    </p>
    <div class="cookies-buttons-wraper">
      <button type="button" class="js-cookies-modal-button">
        ACCEPT COOKIES
      </button>
      <button type="button" class="js-cookies-modal-button">
        DECLINE COOKIES
      </button>
    </div>
  </div>
</div>
