<footer class="footer">
  <div class="container">
    <ul class="footer-list">
      <li class="footer-list-item">
        <a href="../privacypolicy.html"
          >Privacy Policy<span class="footer-line">|</span></a
        >
      </li>
      <li class="footer-list-item">
        <a href="../terms.html"></a>Terms & Conditions<span class="footer-line"
          >|</span
        >
      </li>
      <li class="footer-list-item">
        <a href="../cookies.html">Cookies Policy</a>
      </li>
    </ul>
    <p class="footer-text">
      All Rights Reserved
      <a href="fusionstarforce.com">fusionstarforce.com</a> | 2025
    </p>
  </div>
</footer>
