<section class="js-gallery" id="gallery">
  <div class="container gallery-container">
    <h1 class="gallery-title">Gallery</h1>
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <picture>
            <source
              srcset="
                img/gallery/gallery-one-desc@1x.jpg  1x,
                img/gallery/gallery-one-desc@2x.webp 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                img/gallery/gallery-one-mob@1x.jpg 1x,
                img/gallery/gallery-one-mob@2x.jpg 2x
              "
              media="(max-width: 1199px)"
            />
            <img
              src="img/gallery/gallery-one-mob@1x.jpg"
              alt="First gallery picture"
              class="gallery-image"
              loading="lazy"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              srcset="
                img/gallery/gallery-two-desc@1x.jpg  1x,
                img/gallery/gallery-two-desc@2x.webp 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                img/gallery/gallery-two-mob@1x.jpg 1x,
                img/gallery/gallery-two-mob@2x.jpg 2x
              "
              media="(max-width: 1199px)"
            />
            <img
              src="img/gallery/gallery-two-mob@1x.jpg"
              alt="Second gallery picture"
              class="gallery-image"
              loading="lazy"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              srcset="
                img/gallery/gallery-three-desc@1x.jpg  1x,
                img/gallery/gallery-three-desc@2x.webp 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                img/gallery/gallery-three-mob@1x.jpg 1x,
                img/gallery/gallery-three-mob@2x.jpg 2x
              "
              media="(max-width: 1199px)"
            />
            <img
              src="img/gallery/gallery-three-mob@1x.jpg"
              alt="Third gallery picture"
              class="gallery-image"
              loading="lazy"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              srcset="
                img/gallery/gallery-four-desc@1x.jpg  1x,
                img/gallery/gallery-four-desc@2x.webp 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                img/gallery/gallery-four-mob@1x.jpg 1x,
                img/gallery/gallery-four-mob@2x.jpg 2x
              "
              media="(max-width: 1199px)"
            />
            <img
              src="img/gallery/gallery-four-mob@1x.jpg"
              alt="Fourth gallery picture"
              class="gallery-image"
              loading="lazy"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              srcset="
                img/gallery/gallery-five-desc@1x.jpg  1x,
                img/gallery/gallery-five-desc@2x.webp 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                img/gallery/gallery-five-mob@1x.jpg 1x,
                img/gallery/gallery-five-mob@2x.jpg 2x
              "
              media="(max-width: 1199px)"
            />
            <img
              src="img/gallery/gallery-five-mob@1x.jpg"
              alt="Fifth gallery picture"
              class="gallery-image"
              loading="lazy"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              srcset="
                img/gallery/gallery-six-desc@1x.jpg  1x,
                img/gallery/gallery-six-desc@2x.webp 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                img/gallery/gallery-six-mob@1x.jpg 1x,
                img/gallery/gallery-six-mob@2x.jpg 2x
              "
              media="(max-width: 1199px)"
            />
            <img
              src="img/gallery/gallery-six-mob@1x.jpg"
              alt="Sixth gallery picture"
              class="gallery-image"
              loading="lazy"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              srcset="
                img/gallery/gallery-seven-desc@1x.jpg  1x,
                img/gallery/gallery-seven-desc@2x.webp 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                img/gallery/gallery-seven-mob@1x.jpg 1x,
                img/gallery/gallery-seven-mob@2x.jpg 2x
              "
              media="(max-width: 1199px)"
            />
            <img
              src="img/gallery/gallery-seven-mob@1x.jpg"
              alt="Seventh gallery picture"
              class="gallery-image"
              loading="lazy"
            />
          </picture>
        </div>
      </div>
      <div class="gallery-controls">
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-next"></div>
      </div>
    </div>
  </div>
</section>
