<section class="ticker">
  <div class="container ticker-container">
    <h2 class="ticker-title">
      STEP INTO THE ARENA WHERE SURVIVAL IS NOT A CHOICE — IT’S THE MISSION.
    </h2>
    <p class="ticker-text">
      Dive into an intense survival challenge where every second counts. Fight
      alien threats, craft weapons, and adapt quickly to stay alive. Built for
      thrill-seekers and strategy lovers, this game pushes your reflexes,
      intuition, and focus to the limit.
    </p>
    <div class="ticker-pics-wrapper">
      <div class="swiper ticker-swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <picture>
              <source
                srcset="
                  /img/ticker/ticker-one-desc@1x.jpg 1x,
                  /img/ticker/ticker-one-desc@2x.jpg 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  /img/ticker/ticker-one-mob@1x.jpg 1x,
                  /img/ticker/ticker-one-mob@2x.jpg 2x
                "
                media="(max-width: 1200px)"
              />
              <img
                src="/img/ticker/ticker-one-mob@1x.jpg"
                class="ticker-picture"
                alt="Game heroes"
                loading="lazy"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source
                srcset="
                  /img/ticker/ticker-two-desc@1x.jpg 1x,
                  /img/ticker/ticker-two-desc@2x.jpg 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  /img/ticker/ticker-two-mob@1x.jpg 1x,
                  /img/ticker/ticker-two-mob@2x.jpg 2x
                "
                media="(max-width: 1200px)"
              />
              <img
                src="/img/ticker/ticker-two-mob@1x.jpg"
                class="ticker-picture"
                alt="Game heroes"
                loading="lazy"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source
                srcset="
                  /img/ticker/ticker-three-desc@1x.jpg 1x,
                  /img/ticker/ticker-three-desc@2x.jpg 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  /img/ticker/ticker-three-mob@1x.jpg 1x,
                  /img/ticker/ticker-three-mob@2x.jpg 2x
                "
                media="(max-width: 1200px)"
              />
              <img
                src="/img/ticker/ticker-three-mob@1x.jpg"
                class="ticker-picture"
                alt="Game heroes"
                loading="lazy"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source
                srcset="
                  /img/ticker/ticker-one-desc@1x.jpg  1x,
                  /img/ticker/ticker-four-desc@2x.jpg 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  /img/ticker/ticker-four-mob@1x.jpg 1x,
                  /img/ticker/ticker-four-mob@2x.jpg 2x
                "
                media="(max-width: 1200px)"
              />
              <img
                src="/img/ticker/ticker-four-mob@1x.jpg"
                class="ticker-picture"
                alt="Game heroes"
                loading="lazy"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source
                srcset="
                  /img/ticker/ticker-five-desc@1x.jpg 1x,
                  /img/ticker/ticker-five-desc@2x.jpg 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  /img/ticker/ticker-five-mob@1x.jpg 1x,
                  /img/ticker/ticker-five-mob@2x.jpg 2x
                "
                media="(max-width: 1200px)"
              />
              <img
                src="/img/ticker/ticker-five-mob@1x.jpg"
                class="ticker-picture"
                alt="Game heroes"
                loading="lazy"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source
                srcset="
                  /img/ticker/ticker-one-desc@1x.jpg 1x,
                  /img/ticker/ticker-one-desc@2x.jpg 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  /img/ticker/ticker-one-mob@1x.jpg 1x,
                  /img/ticker/ticker-one-mob@2x.jpg 2x
                "
                media="(max-width: 1200px)"
              />
              <img
                src="/img/ticker/ticker-one-mob@1x.jpg"
                class="ticker-picture"
                alt="Game heroes"
                loading="lazy"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source
                srcset="
                  /img/ticker/ticker-two-desc@1x.jpg 1x,
                  /img/ticker/ticker-two-desc@2x.jpg 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  /img/ticker/ticker-two-mob@1x.jpg 1x,
                  /img/ticker/ticker-two-mob@2x.jpg 2x
                "
                media="(max-width: 1200px)"
              />
              <img
                src="/img/ticker/ticker-two-mob@1x.jpg"
                class="ticker-picture"
                alt="Game heroes"
                loading="lazy"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source
                srcset="
                  /img/ticker/ticker-three-desc@1x.jpg 1x,
                  /img/ticker/ticker-three-desc@2x.jpg 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  /img/ticker/ticker-three-mob@1x.jpg 1x,
                  /img/ticker/ticker-three-mob@2x.jpg 2x
                "
                media="(max-width: 1200px)"
              />
              <img
                src="/img/ticker/ticker-three-mob@1x.jpg"
                class="ticker-picture"
                alt="Game heroes"
                loading="lazy"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source
                srcset="
                  /img/ticker/ticker-one-desc@1x.jpg  1x,
                  /img/ticker/ticker-four-desc@2x.jpg 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  /img/ticker/ticker-four-mob@1x.jpg 1x,
                  /img/ticker/ticker-four-mob@2x.jpg 2x
                "
                media="(max-width: 1200px)"
              />
              <img
                src="/img/ticker/ticker-four-mob@1x.jpg"
                class="ticker-picture"
                alt="Game heroes"
                loading="lazy"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source
                srcset="
                  /img/ticker/ticker-five-desc@1x.jpg 1x,
                  /img/ticker/ticker-five-desc@2x.jpg 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  /img/ticker/ticker-five-mob@1x.jpg 1x,
                  /img/ticker/ticker-five-mob@2x.jpg 2x
                "
                media="(max-width: 1200px)"
              />
              <img
                src="/img/ticker/ticker-five-mob@1x.jpg"
                class="ticker-picture"
                alt="Game heroes"
                loading="lazy"
              />
            </picture>
          </div>
        </div>
      </div>
      <div class="ticker-controls">
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-next"></div>
      </div>
    </div>
  </div>
</section>
