<header class="header">
  <div class="container header-container">
    <nav class="header-nav">
      <a href="./index.html">
        <img src="/img/logo.png" alt="logo" class="logo" />
      </a>
      <ul class="header-nav-list">
        <li class="header-nav-list-item1">
          <a href="#hero" class="header-nav-list-item-link">Hero Section</a>
        </li>
        <li class="header-nav-list-item1">
          <a href="#description" class="header-nav-list-item-link"
            >Game Description</a
          >
        </li>
        <li class="header-nav-list-item1">
          <a href="#advantages" class="header-nav-list-item-link"
            >Game Advantages</a
          >
        </li>
        <li class="header-nav-list-item1">
          <a href="#howtoplay" class="header-nav-list-item-link">How to Play</a>
        </li>
        <li class="header-nav-list-item2">
          <a href="#gallery" class="header-nav-list-item-link">Gallery</a>
        </li>
        <li class="header-nav-list-item2">
          <a href="#contact" class="header-nav-list-item-link">Contact</a>
        </li>
      </ul>
    </nav>
    <button class="burger-button">
      <svg class="icon" width="20" height="20">
        <use
          href="./img/sprite.svg#icon-burger-menu"
          class="burger-menue-pic"
        ></use>
      </svg>
    </button>
  </div>
</header>
