<section class="hero">
  <div class="container hero-container">
    <div class="hero-content">
      <div class="picture-container">
        <picture>
          <source
            srcset="
              /img/hero/hero-desk@1x.webp 1x,
              /img/hero/hero-desk@2x.webp 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              /img/hero/hero-mob@1x.webp 1x,
              /img/hero/hero-mob@2x.webp 2x
            "
            media="(max-width: 1200px)"
          />
          <img
            src="/img/hero/hero-desk@1x.webp"
            class="hero-picture"
            alt="Game heroes"
          />
        </picture>
      </div>

      <div class="text-content">
        <h1 class="hero-title">Alien Survivor: Survival Arena</h1>
        <p class="hero-text">Outlast the Unknown. Survive the Unthinkable.</p>
        <a
          class="hero-button"
          href="https://play.google.com/store/apps/details?id=world.playme.x&hl=en&gl=us&pli=1"
          target="_blank"
        >
          <img
            src="/img/hero/google-play-logo.png"
            alt="google play icon"
            class="hero-button-picture"
          />
          <p class="hero-button-text">Enter Arena – Begin Survival</p>
        </a>
      </div>
    </div>
  </div>
</section>
