<section class="hero">
  <div class="container hero-container">
    <div class="top-content">
      <picture></picture>
      <div class="text-content">
        <h1 class="hero-title">Alien Survivor: Survival Arena</h1>
        <p class="hero-text">Outlast the Unknown. Survive the Unthinkable.</p>
        <button class="hero-button">
          <img src="" alt="google play icon" /><a href=""
            >Enter Arena – Begin Survival</a
          >
        </button>
      </div>
    </div>
    <h2 class="about-title">
      STEP INTO THE ARENA WHERE SURVIVAL IS NOT A CHOICE — IT’S THE MISSION.
    </h2>
    <p class="about-text">
      Dive into an intense survival challenge where every second counts. Fight
      alien threats, craft weapons, and adapt quickly to stay alive. Built for
      thrill-seekers and strategy lovers, this game pushes your reflexes,
      intuition, and focus to the limit.
    </p>
  </div>
</section>
