<section class="howtoplay">
  <div class="container howtoplay-container">
    <h2 class="how-title">How to Play</h2>
    <ul class="how-list">
      <li class="how-list-item">
        <p class="how-text">
          Choose Your Survivor:
          <span class="how-text-span"
            >Each has unique skills and starting equipment.</span
          >
        </p>
        <div class="how-line"></div>
        <picture>
          <source
            srcset="
              /img/howtoplay/how-first-desc@1x.webp 1x,
              /img/howtoplay/how-first-desc@2x.webp 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              /img/howtoplay/how-first-mob@1x.webp 1x,
              /img/howtoplay/how-first-mob@2x.webp 2x
            "
            media="(max-width: 1200px)"
          />
          <img
            src="/img/howtoplay/how-first-desc@1x.webp"
            class="how-picture"
            alt="Game heroes"
            loading="lazy"
          />
        </picture>
      </li>
      <li class="how-list-item">
        <picture>
          <source
            srcset="
              /img/howtoplay/how-second-desc@1x.webp 1x,
              /img/howtoplay/how-second-desc@2x.webp 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              /img/howtoplay/how-second-mob@1x.webp 1x,
              /img/howtoplay/how-second-mob@2x.webp 2x
            "
            media="(max-width: 1200px)"
          />
          <img
            src="/img/howtoplay/how-second-desc@1x.webp"
            class="how-picture"
            alt="Fighting"
            loading="lazy"
          />
        </picture>
        <div class="how-line"></div>
        <p class="how-text">
          Land, Loot, and Survive:
          <span class="how-text-span"
            >Each has unique skills and starting equipment.</span
          >
        </p>
      </li>
      <li class="how-list-item">
        <p class="how-text">
          Build and Defend:<br class="how-br" />
          <span class="how-text-span"
            >Fortify safe zones with traps, drones, and energy barriers.</span
          >
        </p>
        <div class="how-line"></div>
        <picture>
          <source
            srcset="
              /img/howtoplay/how-third-desc@1x.webp 1x,
              /img/howtoplay/how-third-desc@2x.webp 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              /img/howtoplay/how-third-mob@1x.webp 1x,
              /img/howtoplay/how-third-mob@2x.webp 2x
            "
            media="(max-width: 1200px)"
          />
          <img
            src="/img/howtoplay/how-third-desc@1x.webp"
            class="how-picture"
            alt="Game heroes"
            loading="lazy"
          />
        </picture>
      </li>
      <li class="how-list-item">
        <picture>
          <source
            srcset="
              /img/howtoplay/how-four-desc@1x.webp 1x,
              /img/howtoplay/how-four-desc@2x.webp 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              /img/howtoplay/how-four-mob@1x.webp 1x,
              /img/howtoplay/how-four-mob@2x.webp 2x
            "
            media="(max-width: 1200px)"
          />
          <img
            src="/img/howtoplay/how-four-desc@1x.webp"
            class="how-picture"
            alt="Fighting"
            loading="lazy"
          />
        </picture>
        <div class="how-line"></div>
        <p class="how-text">
          Face the Final Storm:<br class="how-br" />
          <span class="how-text-span"
            >Every round ends with a collapse of the arena — time it right or be
            lost.</span
          >
        </p>
      </li>
      <li class="how-list-item">
        <p class="how-text">
          Evolve Your Loadout:
          <span class="how-text-span"
            >Survive long enough to unlock alien-enhanced upgrades.</span
          >
        </p>
        <div class="how-line"></div>
        <picture>
          <source
            srcset="
              /img/howtoplay/how-five-desc@1x.webp 1x,
              /img/howtoplay/how-five-desc@2x.webp 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              /img/howtoplay/how-five-mob@1x.webp 1x,
              /img/howtoplay/how-five-mob@2x.webp 2x
            "
            media="(max-width: 1200px)"
          />
          <img
            src="/img/howtoplay/how-five-desc@1x.webp"
            class="how-picture"
            alt="Game heroes"
            loading="lazy"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
