<section class="mobile-menue">
  <div class="container">
    <nav>
      <ul class="mobile-nav">
        <li class="mobile-nav-item">
          <a href="#description">Game Description</a>
        </li>
        <li class="mobile-nav-item">
          <a href="#advantages">Game Advantages</a>
        </li>
        <li class="mobile-nav-item"><a href="#howtoplay">How to Play</a></li>
        <li class="mobile-nav-item"><a href="#galery">Gallery</a></li>
        <li class="mobile-nav-item"><a href="#contact">Contact</a></li>
      </ul>
    </nav>
  </div>
</section>
