<div class="js-mobile-menu">
  <div class="mobile-header">
    <div class="container header-container">
      <a href="./index.html"
        ><img src="/img/logo.png" alt="logo" class="logo"
      /></a>
      <button class="js-close-button">
        <svg width="20" height="20" class="js-close-button-icon">
          <use href="/img/sprite.svg#icon-close"></use>
        </svg>
      </button>
    </div>
  </div>
  <div class="container mobile-container">
    <nav>
      <ul class="js-mobile-menu-nav-list">
        <li class="js-mobile-menu-nav-item">
          <a href="./index.html" class="js-mobile-menu-nav-item-link">Home</a>
        </li>
        <li class="js-mobile-menu-nav-item">
          <a href="#description" class="js-mobile-menu-nav-item-link"
            >Game Advantages</a
          >
        </li>
        <li class="js-mobile-menu-nav-item">
          <a href="#advantages" class="js-mobile-menu-nav-item-link"
            >Game Description</a
          >
        </li>
        <li class="js-mobile-menu-nav-item">
          <a href="#howtoplay" class="js-mobile-menu-nav-item-link"
            >How to Play</a
          >
        </li>
        <li class="js-mobile-menu-nav-item">
          <a href="#galery" class="js-mobile-menu-nav-item-link">Gallery</a>
        </li>
        <li class="js-mobile-menu-nav-item">
          <a href="#contact" class="js-mobile-menu-nav-item-link">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
