html {
  scroll-behavior: smooth;
  scroll-padding-top: 40px;
}

@media only screen and (min-width: 1200px) {
  html {
    scroll-padding-top: 80px;
  }
}

:root {
  font-family: 'Orbitron', sans-serif, 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  background-color: #1a093e;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  overflow-x: hidden;
}

main {
  flex-grow: 1;
}

main:has(.back-link) {
  text-align: center;
}


