.desc-section .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  padding-bottom: 24px;
  max-width: 320px;
  background-image: url('/img/zigzag-mob.png');
  background-repeat: no-repeat;
  background-position-x: center;
}

.desc-title {
  text-align: center;
  font-size: 16px;
  line-height: 1;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 8px;
}

.upper-text {
  text-align: center;
}

.desc-picture-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.desc-image {
  min-width: 320px;
  border-radius: 8px;
}

@media only screen and (min-width: 1200px) {
  .desc-section .container {
    gap: 40px;
    padding-bottom: 48px;
    padding-left: 92px;
    padding-right: 92px;
    max-width: 1200px;
    background-image: url('/img/zigzag-desc.png');
  }

  .desc-title {
    font-size: 36px;
    line-height: 1.33;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .desc-text {
    font-size: 24px;
    line-height: 1.66;
  }

  .desc-picture-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    gap: 150px;
  }

  .desc-image {
    min-width: 420px;
    border-radius: 22px;
    overflow: hidden;
  }
}
