.header {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: black;

    /* position: sticky;
    z-index: 999; */
}

.header-container {
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
}

.logo {
    width: 20px;
    height: 20px;
}

.header-nav-list {
    display: none;
}

.js-burger-button {
    background-color: transparent;
    border: none;
    transition: transform 250ms ease-in-out;
    height: 20px;
}

.js-burger-button.js-rotate {
    transform: rotate(90deg);
}

.burger-menue-pic {
    display: block;
    stroke: #fff;
}

@media only screen and (min-width: 1200px) {
    .header {
        height: 80px;
    }

    .header-container {
        padding-left: 40px;
        padding-right: 40px;
    }

    .logo {
        width: 60px;
        height: 60px;
        margin-right: 322px;
    }

    .js-burger-button {
        display: none;
    }

    .header-nav-list {
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 16px;
    }

    .header-nav-list-item1 {
        width: 160px;
        text-align: center;
    }

    .header-nav-list-item2 {
        width: 107px;
        text-align: center;
    }

    .header-nav-list-item-link {
        font-size: 20px;
        line-height: 100%;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px; 
        transition: color 250ms ease-in-out;
    }

    .header-nav-list-item-link:hover {
        color: #22CFE9;
    }
}

