.policy-ul-list-item-terms {
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
}

@media only screen and (min-width: 1200px) {
 .policy-ul-list-item-terms {
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
 }
}